@page
@model IndexModel
@{
    ViewData["Title"] = "ITB Game Jam 2025";

    var loggedIn = Tools.TokenHelper.IsTokenSession(HttpContext.Session.GetString("AuthToken"));
}

<div class="text-center">
    <h1 class="display-4">Videojocs votats!</h1>
</div>
<div>
    @if (!Model.Games.Any())
    {
        <p>No s'han trobat jocs.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Títol</th>
                    <th>Descripció</th>
                    <th>Desenvolupadors</th>
                    <th>Número de vots</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Games)
                {
                    <tr>
                        <td>@game.Title</td>
                        <td>@game.Description</td>
                        <td>@game.Developer </td>
                        <td>@game.VoteCount </td>
                        <td>
                            @if (loggedIn)
                            {
                                <form method="post" asp-page-handler="Delete" asp-route-id="@game.Id" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <button class="btn btn-secondary btn-sm" disabled title="Només per usuaris autenticats">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
